<div class="backdrop" *ngIf="showCart">
  <div class="cart-panel">
    <div class="cart-header">
      <div class="d-inline-block my-cart">My Cart</div>
      <div class="d-inline-block float-end close-btn" (click)="closeCart()"><i class="bi-x-lg"></i></div>
    </div>
    <ng-container *ngIf="cartTotal != 0; else emptyPanelCart">
      <div class="cart-item" *ngFor="let item of cartItemList;let i=index">
        <div class="row">
          <div class="col-2 col-md-1 col-lg-2 pe-0">
            <img src="{{item.imageUrl}}" alt="{{item.title}}" width="100%" height="100%" onerror="this.src='/assets/images/Logo.JPG';" >
          </div>
          <div class="col-7 col-md-9 col-lg-8">
            <h6>{{item.title}}</h6>
            <div class="">
              <button class="btn default-color cart-item-padding" (click)="removeQuantity(item)"><i class="bi-dash"></i></button>
              <span class="cart-item-padding">{{item.quantity}}</span>
              <button class="btn default-color cart-item-padding" (click)="addQuantity(item)"><i class="bi-plus"></i></button>
              <span class="btn cart-item-padding"><i class="bi-x-lg"></i></span>
              <span>Rs.{{item.MRP}}</span>
            </div>
          </div>
          <div class="col-3 col-md-2 col-lg-2">Rs.{{item.itemTotal}}</div>
        </div>
      </div>
      <div class="quality-block">
        <img src="/assets/images/lowest-price.png" alt="Lowest Price">
        <p class="quality-text"> You won't find it cheaper anywhere</p>
      </div>
    </ng-container>
    <ng-template #emptyPanelCart>
      <div class="empty-cart">
        <h4 class="m-0">No Items in your cart</h4>
        <p class="m-0">Your favourite items are just click away</p>
      </div>
    </ng-template>

    <div class="checkout-btn d-grid p-1" [ngClass]="{'shopping-btn': cartTotal == 0}">
      <ng-container *ngIf="cartTotal != 0;else emptyCartBtn">
        <p class="promo-text">Promo code can be applied on payment page</p>
        <button class="btn default-color text-start">
          Proceed to Checkout
          <i class="bi-chevron-right float-end ms-2"></i>
          <span class="float-end">Rs.{{cartTotal}}</span>
        </button>
      </ng-container>
      <ng-template #emptyCartBtn>
        <button class="btn default-color text-center" [routerLink]="'/product'" (click)="closeCart()">
          Start Shopping
        </button>
      </ng-template>
    </div>
  </div>
</div>

<div class="compact-cart" *ngIf="showCart">
  <!-- this is the small device cart design -->
  <ng-container *ngIf="cartTotal != 0; else emptyCompactCart">
    <div class="cart-header">
      <h6>My Cart</h6>
    </div>
    <div class="cart-item" *ngFor="let item of cartItemList;let i=index">
      <div class="row">
        <div class="col-2 col-md-1 pe-0">
          <img src="{{item.imageUrl}}" alt="{{item.title}}" width="100%" height="100%" onerror="this.src='/assets/images/Logo.JPG';" >
        </div>
        <div class="col-7 col-md-9">
          <h6>{{item.title}}</h6>
          <div class="">
            <button class="btn default-color cart-item-padding" (click)="removeQuantity(item)"><i class="bi-dash"></i></button>
            <span class="cart-item-padding">{{item.quantity}}</span>
            <button class="btn default-color cart-item-padding" (click)="addQuantity(item)"><i class="bi-plus"></i></button>
            <span class="btn cart-item-padding"><i class="bi-x-lg"></i></span>
            <span>Rs.{{item.MRP}}</span>
          </div>
        </div>
        <div class="col-3 col-md-2">Rs.{{item.MRP * item.quantity}}</div>
      </div>
    </div>
    <div class="quality-block">
      <img src="/assets/images/lowest-price.png" alt="Lowest Price">
      <p class="quality-text"> You won't find it cheaper anywhere</p>
    </div>
  </ng-container>
  <ng-template #emptyCompactCart>
    <div class="empty-cart">
      <h4 class="m-0">No Items in your cart</h4>
      <p class="m-0">Your favourite items are just click away</p>
    </div>
  </ng-template>
  <div class="checkout-btn d-grid p-1" [ngClass]="{'shopping-btn': cartTotal == 0}">
    <ng-container *ngIf="cartTotal != 0;else emptyCompactCartBtn">
      <p class="promo-text">Promo code can be applied on payment page</p>
      <button class="btn default-color text-start">
        Proceed to Checkout
        <i class="bi-chevron-right float-end ms-2"></i>
        <span class="float-end">Rs.{{cartTotal}}</span>
      </button>
    </ng-container>
    <ng-template #emptyCompactCartBtn>
      <button class="btn default-color text-center" [routerLink]="'/product'" (click)="closeCart()">
        Start Shopping
      </button>
    </ng-template>
  </div>
</div>